__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

.venv/
venv
venv/

htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/
coverage.xml
*.cover

env/
venv/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.env.*

.mypy_cache/
.pyright/
pylint-report.txt

.DS_Store
Thumbs.db
desktop.ini

pip-wheel-metadata/
pip-log.txt